@font-face {
  font-family: 'Neue Haas Grotesk';
  src: url('../public/fonts/NeueHaasDisplay-Bold.eot');
  src: url('../public/fonts/NeueHaasDisplay-Bold.eot?#iefix') format('embedded-opentype'),
      url('../public/fonts/NeueHaasDisplay-Bold.woff2') format('woff2'),
      url('../public/fonts/NeueHaasDisplay-Bold.woff') format('woff'),
      url('../public/fonts/NeueHaasDisplay-Bold.ttf') format('truetype'),
      url('../public/fonts/NeueHaasDisplay-Bold.svg#NeueHaasDisplay-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Haas Grotesk Text';
  src: url('../public/fonts/NHaasGroteskTXPro-75Bd.eot');
  src: url('../public/fonts/NHaasGroteskTXPro-75Bd.eot?#iefix') format('embedded-opentype'),
      url('../public/fonts/NHaasGroteskTXPro-75Bd.woff2') format('woff2'),
      url('../public/fonts/NHaasGroteskTXPro-75Bd.woff') format('woff'),
      url('../public/fonts/NHaasGroteskTXPro-75Bd.ttf') format('truetype'),
      url('../public/fonts/NHaasGroteskTXPro-75Bd.svg#NeueHaasDisplay-Bold-Text') format('svg');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Haas Grotesk';
  src: url('../public/fonts/NHaasGroteskDSPro-76BdIt.eot');
  src: url('../public/fonts/NHaasGroteskDSPro-76BdIt.eot?#iefix') format('embedded-opentype'),
      url('../public/fonts/NHaasGroteskDSPro-76BdIt.woff2') format('woff2'),
      url('../public/fonts/NHaasGroteskDSPro-76BdIt.woff') format('woff'),
      url('../public/fonts/NHaasGroteskDSPro-76BdIt.ttf') format('truetype'),
      url('../public/fonts/NHaasGroteskDSPro-76BdIt.svg#NeueHaasDisplay-Bold') format('svg');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Haas Grotesk';
  src: url('../public/fonts/NeueHaasDisplay-Medium.eot');
  src: url('../public/fonts/NeueHaasDisplay-Medium.eot?#iefix') format('embedded-opentype'),
      url('../public/fonts/NeueHaasDisplay-Medium.woff2') format('woff2'),
      url('../public/fonts/NeueHaasDisplay-Medium.woff') format('woff'),
      url('../public/fonts/NeueHaasDisplay-Medium.ttf') format('truetype'),
      url('../public/fonts/NeueHaasDisplay-Medium.svg#NeueHaasDisplay-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Haas Grotesk Text';
  src: url('../public/fonts/NHaasGroteskTXPro-65Md.eot');
  src: url('../public/fonts/NHaasGroteskTXPro-65Md.eot?#iefix') format('embedded-opentype'),
      url('../public/fonts/NHaasGroteskTXPro-65Md.woff2') format('woff2'),
      url('../public/fonts/NHaasGroteskTXPro-65Md.woff') format('woff'),
      url('../public/fonts/NHaasGroteskTXPro-65Md.ttf') format('truetype'),
      url('../public/fonts/NHaasGroteskTXPro-65Md.svg#NeueHaasDisplay-Bold-Text') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Haas Grotesk';
  src: url('../public/fonts/NHaasGroteskDSPro-66MdIt.eot');
  src: url('../public/fonts/NHaasGroteskDSPro-66MdIt.eot?#iefix') format('embedded-opentype'),
      url('../public/fonts/NHaasGroteskDSPro-66MdIt.woff2') format('woff2'),
      url('../public/fonts/NHaasGroteskDSPro-66MdIt.woff') format('woff'),
      url('../public/fonts/NHaasGroteskDSPro-66MdIt.ttf') format('truetype'),
      url('../public/fonts/NHaasGroteskDSPro-66MdIt.svg#NeueHaasDisplay-Medium') format('svg');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Haas Grotesk Text';
  src: url('../public/fonts/NHaasGroteskTXPro-66MdIt.eot');
  src: url('../public/fonts/NHaasGroteskTXPro-66MdIt.eot?#iefix') format('embedded-opentype'),
      url('../public/fonts/NHaasGroteskTXPro-66MdIt.woff2') format('woff2'),
      url('../public/fonts/NHaasGroteskTXPro-66MdIt.woff') format('woff'),
      url('../public/fonts/NHaasGroteskTXPro-66MdIt.ttf') format('truetype'),
      url('../public/fonts/NHaasGroteskTXPro-66MdIt.svg#NeueHaasDisplay-Medium') format('svg');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}