// Iphone 5SE
$screen-xxs-min: 200px;

// Iphone 12
$screen-xs-min: 375px;

$screen-xs-s-min: 420px;

// Small tablets and large smartphones (landscape view)
$screen-s-min: 576px;

// Small tablets (portrait view)
$screen-m-min: 768px;

// Tablets and small desktops
$screen-l-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1366px;

// Huge desktops
$screen-xxl-min: 1564px;

@mixin xxs {
  @media (min-width: #{$screen-xxs-min}) {
    @content;
  }
}

@mixin xs {
  @media (min-width: #{$screen-xs-min}) {
    @content;
  }
}

@mixin xs-s {
  @media (min-width: #{$screen-xs-s-min}) {
    @content;
  }
}

@mixin s {
  @media (min-width: #{$screen-s-min}) {
    @content;
  }
}

// Medium devices
@mixin m {
  @media (min-width: #{$screen-m-min}) {
    @content;
  }
}

// Large devices
@mixin l {
  @media (min-width: #{$screen-l-min}) {
    @content;
  }
}

// Extra large devices
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}

// Huge desktops
@mixin xxl {
    @media (min-width: #{$screen-xxl-min}) {
      @content;
    }
  }