@import '../../styles/responsives.scss';

.folder {
  width: 100%;

  @include xs {
    margin-bottom: 30px;
  }

  @include l {
    margin-bottom: 70px;
  }

  &__photos {
    display: grid;
    grid-template-columns: repeat(36, 1fr);
    grid-column-gap: 4px;
    grid-row-gap: 11px;

    a.photo {
      position: relative;
      display: block;
      overflow: hidden;

      @include xs {
        grid-column: span 9;
        height: 56px;
      }

      @include xs-s {
        grid-column: span 9;
        height: 80px;
      }

      @include s {
        height: 120px;
      }

      @include l {
        grid-column: span 6;
      }

      @include xl {
        grid-column: span 3;
        height: 105px;
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      &--vertical {
        img {
          width: auto;
          object-position: center;
          object-fit: contain;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }

  &__chapter-title {
    padding-top: calc(var(--border) * 1);
  }
}