@import '../../styles/responsives.scss';

.counter {
  opacity: 0.6;
  position: fixed;
  top: calc(var(--border)* 1.5);
  width: fit-content;

  @include xs {
    left: unset;
    right: calc(var(--border) * 1.5);
  }

  @include l {
    left: 50%;
    right: unset;
  }
}

.all-folders {
  max-height: var(--slides-height);
  
  @include xs {
    height: auto;
    width: auto;
    overflow: hidden;
  }

  @include l {
    width: 100%;
  }
  
  .gallery {
    display: block;
    width: 100%;
    overflow: hidden;
    height: var(--slides-height);

    .slide {
      width: 100%;
      height: 100%;
      cursor: pointer;
      position: relative;
      max-height: var(--slides-height); 

      &--vertical {
        img {
          height: 100%;
          width: auto;
          object-fit: contain;
          object-position: left;
        }
      }

      &--horizontal {
        img {
          height: auto;
          width: 100%;
          object-fit: contain;
          position: absolute;
          top: 0;
        }
      }

      &--mobile {
        width: auto !important;
        height: auto !important;
      }
    }
  }
}

.captions {
  margin-top: calc(var(--border) * 1.2);
  color: var(--color_white);

  &__title {
    color: var(--color_grey);
  }
}

.credits {
  color: var(--color_grey);
  position: fixed;
  top: calc(calc(100svh - 12px) - calc(var(--border) * 1.5));
  left: calc(var(--border) * 1.5);
}